.img-client-container {
    display: flex;
    flex-direction: row;
}

.img-client {
    margin-right: 20px; /* Jarak antar gambar */
    text-align: center;
}

.img-client img {
    max-width: 200px; /* Sesuaikan ukuran gambar */
    height: auto;
}
